In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option("display.max_columns",500)

df = pd.read_csv("kc_house_data.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [2]:
df['view'].value_counts()

0    19489
2      963
3      510
1      332
4      319
Name: view, dtype: int64

In [3]:
required_columns = ['price', 'bedrooms','bathrooms', 'sqft_living', 'floors', 'condition']

In [4]:
df1 = df[required_columns].copy()

In [5]:
df2 = df1.sample(21000).reset_index(drop=True)

In [6]:
df2.isnull().sum()

price          0
bedrooms       0
bathrooms      0
sqft_living    0
floors         0
condition      0
dtype: int64

In [7]:
X = df2.iloc[:, 1:]
X

y = df2.iloc[:, 0]
y

0         725000.0
1         350000.0
2         589000.0
3         726000.0
4         344000.0
           ...
20995    2300000.0
20996     335900.0
20997     299500.0
20998     475000.0
20999     795000.0
Name: price, Length: 21000, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [10]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

model.fit(X_train_scaled, y_train)

y_predict = model.predict(X_test_scaled)

from sklearn.metrics import r2_score

accuracy = r2_score(y_test, y_predict)
print(accuracy)

0.4454534745644986

In [11]:
from sklearn.model_selection import cross_val_score 

mse = cross_val_score(model, X, y, scoring='neg_mean_squared_error',cv = 10)

mean_mse = np.median(mse)
print(mean_mse)

-65603952243.745094